@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body class="text-center mt-5">
    <div class="container">
        <h1>Welcome to EmergencyAssist</h1>
        <a href="/Account/Login" class="btn btn-primary m-2">Login</a>
        <a href="/Account/Register" class="btn btn-secondary m-2">Register</a>
    </div>
</body>
</html>
